.scrollable-container {
  max-height: 70vh; /* Set the desired maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.container {
    display: flex;
  flex-wrap: wrap;
  height: 100vh; 
}

.friends-section {
     flex: 1 1 30%;
  background-color: #e1e1e1;
}

.left-section {
 flex: 1 1 70%;
}

.post-section {
  background-color: #f1f1f1;
}

.timeline-section {
  background-color: #d1d1d1;
}