<div class="post">
  <div class="post-header">
    <img src="user_avatar.jpg"
      alt="User Avatar"
      class="avatar">
    <div class="post-author">
      <h4>John Doe</h4>
      <p>Posted on June 14, 2023</p>
    </div>
  </div>
  <div class="post-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus lorem nec fringilla. Sed sed faucibus ex.
      In non risus mattis, efficitur tellus ac, suscipit nulla. Sed malesuada, nisi ac sollicitudin luctus, justo lacus
      lacinia sem, id rutrum purus dolor ut libero.</p>
  </div>
  <div class="post-actions">
    <span class="likes">100 likes</span>
    <button class="like-button">Like</button>
    <button class="comment-button">Comment</button>
  </div>
  <div class="comments">
    <div class="comment">
      <img src="commenter_avatar.jpg"
        alt="Commenter Avatar"
        class="avatar">
      <div class="comment-content">
        <h5>Jane Smith</h5>
        <p>Great post! Keep it up!</p>
      </div>
    </div>
    <!-- Additional comments -->
  </div>
</div>