<div class="comment-popup"
  id="commentPopup">
  <div class="comment-popup-content">
    <h3>Comments</h3>
    <ul class="comments-list">
      <li class="comment" *ngFor="let comment of comments">
        <span class="comment-user">{{comment.authorName}}:</span>
        <span class="comment-content">{{comment.content}}</span>
      </li>
      <!-- Add more comments dynamically using JavaScript/Angular -->
    </ul>
  </div>
  <div class="comment-bar">
    <form (ngSubmit)="addComment()"
      [formGroup]="placeCommentForm">
      <textarea class="comment-input"
        placeholder="Write a comment..."
        formControlName="content"
        required></textarea>
      <button class="comment-submit-button"
        type="submit" [disabled]="!this.placeCommentForm.valid">Post</button>
      <button type="reset"
        (click)="dismiss()">Dismiss</button>
    </form>
  </div>
</div>