<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azure-relay-functionapp-test2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c3774afc-2e06-4e5f-b00d-2feef9dafd6a/resourceGroups/azure-relay-functionapp-test/providers/Microsoft.Web/sites/azure-relay-functionapp-test2</ResourceId>
    <UserName>$azure-relay-functionapp-test2</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azure-relay-functionapp-test2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>