<div class="reaction-button">
  <button class="like"
    (click)="react(reactionType.LIKE)"
    title="Like"><i class="fab fa-facebook-square"></i></button>
  <button class="heart"
    (click)="react(reactionType.HEART)"
    title="Heart"><i class="fas fa-heart"></i></button>
  <button class="care"
    (click)="react(reactionType.CARE)"
    title="Care"><i class="far fa-grin-hearts"></i></button>
  <button class="laugh"
    (click)="react(reactionType.LAUGH)"
    title="Laugh"><i class="far fa-laugh-beam"></i></button>
  <button class="wow"
    (click)="react(reactionType.WOW)"
    title="Wow"><i class="far fa-surprise"></i></button>
  <button class="sad"
    (click)="react(reactionType.SAD)"
    title="Sad"><i class="far fa-sad-cry"></i></button>
  <button class="angry"
    (click)="react(reactionType.ANGRY)"
    title="Angry"><i class="far fa-angry"></i></button>
</div>