@using BnA.IAM.Presentation.API.Controllers.Home
@model ErrorViewModel

@{
    var error = GetError(Model?.Error?.Error);
    string GetError(string error) => error.Split(":")[0];
}
<div class="text-center">
    <img src="~/images/app-logo.png" class="mt-5 mb-2" />
    <p style="font-family: 'Poppins'; font-size: 16px;">The Most Advanced Solution For Property Maintenance.</p>
</div>
<div class="error-unauth d-flex justify-content-center text-center">
    <div class="error-msg">
        @*Sorry,*@
        @if (error != null)
        {
            <div class="error-desc">@error</div>
        }
        @*@if (request_id != null)
            {
            <div class="request-id mt-2">Request Id: @request_id</div>
            }*@
    </div>
</div>
<div class="text-center mt-4">
    <form asp-action="Logout" asp-controller="Account" method="post">
        <input type="hidden" name="postLogoutRedirectUri" value="@Model.PostLogoutRedirectUri" />
        <div class="form-group">
            <button class="btn btn-danger w-270">Back to Sign in</button>
        </div>
    </form>
</div>